<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>count</key>
		<integer>2000</integer>
		<key>maxid</key>
		<string>1497041762</string>
		<key>maxtime</key>
		<string>1497041762</string>
		<key>page</key>
		<integer>100</integer>
		<key>vendor</key>
		<string>six.jie.c</string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>22</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>11</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/10/593b6657d8e3c.gif</string>
			<key>comment</key>
			<string>73</string>
			<key>create_time</key>
			<string>2017-06-10 11:24:07</string>
			<key>created_at</key>
			<string>2017-06-10 13:14:01</string>
			<key>ding</key>
			<string>128</string>
			<key>favourite</key>
			<string>22</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/10/593b6657d8e3c_a_1.jpg</string>
			<key>hate</key>
			<string>11</string>
			<key>height</key>
			<string>336</string>
			<key>id</key>
			<string>25318903</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/10/593b6657d8e3c.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/10/593b6657d8e3c.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/10/593b6657d8e3c.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>128</string>
			<key>name</key>
			<string>原生君</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 13:14:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/22/57e3d9083f5e3_mini.jpg</string>
			<key>repost</key>
			<string>1</string>
			<key>screen_name</key>
			<string>原生君</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497071641</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>妹子在我面前做出这样的动作，到底是几个含义？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18614232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.mobi/share/25318903.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>222</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>0</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>34</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593aa6065c70c_1.jpg</string>
			<key>comment</key>
			<string>24</string>
			<key>create_time</key>
			<string>2017-06-09 21:43:34</string>
			<key>created_at</key>
			<string>2017-06-10 12:48:01</string>
			<key>ding</key>
			<string>127</string>
			<key>favourite</key>
			<string>0</string>
			<key>hate</key>
			<string>34</string>
			<key>height</key>
			<string>3600</string>
			<key>id</key>
			<string>25313052</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593aa6065c70c_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593aa6065c70c_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593aa6065c70c_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>127</string>
			<key>name</key>
			<string>小公主梦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 12:48:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/02/57c938cd5fcac_mini.jpg</string>
			<key>repost</key>
			<string>1</string>
			<key>screen_name</key>
			<string>小公主梦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497070081</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>大狸子准备从事喊麦，双击666</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>6281065</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.net/share/25313052.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>40</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>34</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/5939d12e58dd1.gif</string>
			<key>comment</key>
			<string>86</string>
			<key>create_time</key>
			<string>2017-06-09 06:35:26</string>
			<key>created_at</key>
			<string>2017-06-10 12:31:46</string>
			<key>ding</key>
			<string>625</string>
			<key>favourite</key>
			<string>40</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/5939d12e58dd1_a_1.jpg</string>
			<key>hate</key>
			<string>34</string>
			<key>height</key>
			<string>180</string>
			<key>id</key>
			<string>25303301</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/5939d12e58dd1.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/5939d12e58dd1.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/5939d12e58dd1.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>625</string>
			<key>name</key>
			<string>ωǒ鳪銗誨</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 12:31:46</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/07/09/578101ff70b7d_mini.jpg</string>
			<key>repost</key>
			<string>157</string>
			<key>screen_name</key>
			<string>ωǒ鳪銗誨</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497069106</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>今年NBA总决赛是这样的……詹皇一个人打勇士一群人啊</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17436292</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.cn/share/25303301.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>300</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>6</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>28</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a4cab6a912_1.jpg</string>
			<key>comment</key>
			<string>48</string>
			<key>create_time</key>
			<string>2017-06-09 15:22:19</string>
			<key>created_at</key>
			<string>2017-06-10 12:22:01</string>
			<key>ding</key>
			<string>249</string>
			<key>favourite</key>
			<string>6</string>
			<key>hate</key>
			<string>28</string>
			<key>height</key>
			<string>16803</string>
			<key>id</key>
			<string>25308614</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a4cab6a912_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a4cab6a912_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a4cab6a912_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>249</string>
			<key>name</key>
			<string>臭宝蛋蛋</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 12:22:01</string>
			<key>profile_image</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.996.996.50/e7f9e94djw8f6ursgyso3j20ro0rp0wy.jpg</string>
			<key>repost</key>
			<string>22</string>
			<key>screen_name</key>
			<string>臭宝蛋蛋</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497068521</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>四川大学派了两个食堂大厨去复旦交流 没想到火上天了！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19531820</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.mobi/share/25308614.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>5</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>32</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5e864489b_1.jpg</string>
			<key>comment</key>
			<string>89</string>
			<key>create_time</key>
			<string>2017-06-09 16:38:30</string>
			<key>created_at</key>
			<string>2017-06-10 11:56:01</string>
			<key>ding</key>
			<string>212</string>
			<key>favourite</key>
			<string>5</string>
			<key>hate</key>
			<string>32</string>
			<key>height</key>
			<string>7433</string>
			<key>id</key>
			<string>25309542</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5e864489b_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5e864489b_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5e864489b_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>212</string>
			<key>name</key>
			<string>我有了一个男朋友ヽ、</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 11:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/07/26/57974925b34a6_mini.jpg</string>
			<key>repost</key>
			<string>6</string>
			<key>screen_name</key>
			<string>我有了一个男朋友ヽ、</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497066961</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>印度议员诬称蒸饺有害还易成瘾，比毒品危险……网友：好吃就直说！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>5348609</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com/share/25309542.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>53</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>50</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a7e30d4bb1.gif</string>
			<key>comment</key>
			<string>124</string>
			<key>create_time</key>
			<string>2017-06-09 18:53:36</string>
			<key>created_at</key>
			<string>2017-06-10 11:30:01</string>
			<key>ding</key>
			<string>394</string>
			<key>favourite</key>
			<string>53</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a7e30d4bb1_a_1.jpg</string>
			<key>hate</key>
			<string>50</string>
			<key>height</key>
			<string>191</string>
			<key>id</key>
			<string>25311055</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a7e30d4bb1.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a7e30d4bb1.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a7e30d4bb1.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>394</string>
			<key>name</key>
			<string>趣图达人</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 11:30:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/12/14/5850f27db0052_mini.jpg</string>
			<key>repost</key>
			<string>17</string>
			<key>screen_name</key>
			<string>趣图达人</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497065401</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>好多学生妹，我都看得目不暇接了，都是刚高考完的吧？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17658867</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.net/share/25311055.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>402</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>6</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>38</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ac0bb5c780_1.jpg</string>
			<key>comment</key>
			<string>54</string>
			<key>create_time</key>
			<string>2017-06-09 23:37:31</string>
			<key>created_at</key>
			<string>2017-06-10 11:04:02</string>
			<key>ding</key>
			<string>268</string>
			<key>favourite</key>
			<string>6</string>
			<key>hate</key>
			<string>38</string>
			<key>height</key>
			<string>10536</string>
			<key>id</key>
			<string>25314655</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ac0bb5c780_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ac0bb5c780_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ac0bb5c780_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>268</string>
			<key>name</key>
			<string>臭宝蛋蛋</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 11:04:02</string>
			<key>profile_image</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.996.996.50/e7f9e94djw8f6ursgyso3j20ro0rp0wy.jpg</string>
			<key>repost</key>
			<string>3</string>
			<key>screen_name</key>
			<string>臭宝蛋蛋</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497063842</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>王自健离婚，网友却心疼王思聪！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19531820</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.cn/share/25314655.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>96</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>21</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b890ab80f.gif</string>
			<key>comment</key>
			<string>106</string>
			<key>create_time</key>
			<string>2017-06-08 10:38:08</string>
			<key>created_at</key>
			<string>2017-06-10 10:38:01</string>
			<key>ding</key>
			<string>992</string>
			<key>favourite</key>
			<string>96</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b890ab80f_a_1.jpg</string>
			<key>hate</key>
			<string>21</string>
			<key>height</key>
			<string>251</string>
			<key>id</key>
			<string>25291545</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b890ab80f.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b890ab80f.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b890ab80f.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>992</string>
			<key>name</key>
			<string>搞笑内涵侠</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 10:38:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/01/58b6ed2126d85_mini.jpg</string>
			<key>repost</key>
			<string>214</string>
			<key>screen_name</key>
			<string>搞笑内涵侠</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497062281</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>二哈，你这样过分了哈~有没有考虑一下主人的感受？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19064947</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.com.cn/share/25291545.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>176</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>25</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>99</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393254206f8_1.jpg</string>
			<key>comment</key>
			<string>513</string>
			<key>create_time</key>
			<string>2017-06-08 19:17:40</string>
			<key>created_at</key>
			<string>2017-06-10 10:12:02</string>
			<key>ding</key>
			<string>680</string>
			<key>favourite</key>
			<string>25</string>
			<key>hate</key>
			<string>99</string>
			<key>height</key>
			<string>15751</string>
			<key>id</key>
			<string>25297512</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393254206f8_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393254206f8_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393254206f8_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>680</string>
			<key>name</key>
			<string>UC小编</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 10:12:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/01/593007cb5c5d8_mini.jpg</string>
			<key>repost</key>
			<string>120</string>
			<key>screen_name</key>
			<string>UC小编</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497060722</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>苹果系统的确好过安卓，但是什么都不做就想拿钱，这就太他妈的扯了。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17989256</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.budejie.com/share/25297512.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1080</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>82</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>31</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5936c13bf1f65.gif</string>
			<key>comment</key>
			<string>91</string>
			<key>create_time</key>
			<string>2017-06-06 22:50:35</string>
			<key>created_at</key>
			<string>2017-06-10 09:46:01</string>
			<key>ding</key>
			<string>1121</string>
			<key>favourite</key>
			<string>82</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5936c13bf1f65_a_1.jpg</string>
			<key>hate</key>
			<string>31</string>
			<key>height</key>
			<string>246</string>
			<key>id</key>
			<string>25273169</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5936c13bf1f65.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5936c13bf1f65.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5936c13bf1f65.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>1121</string>
			<key>name</key>
			<string>搞笑大蛮</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 09:46:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/12/58c4fad33e27a_mini.jpg</string>
			<key>repost</key>
			<string>197</string>
			<key>screen_name</key>
			<string>搞笑大蛮</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497059161</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>无敌是多磨...多磨寂寞！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19725232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.cn/share/25273169.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>230</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>56</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>66</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59396bd651da6.gif</string>
			<key>comment</key>
			<string>225</string>
			<key>create_time</key>
			<string>2017-06-08 23:23:02</string>
			<key>created_at</key>
			<string>2017-06-10 09:29:08</string>
			<key>ding</key>
			<string>567</string>
			<key>favourite</key>
			<string>56</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59396bd651da6_a_1.jpg</string>
			<key>hate</key>
			<string>66</string>
			<key>height</key>
			<string>309</string>
			<key>id</key>
			<string>25301297</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59396bd651da6.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59396bd651da6.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59396bd651da6.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>567</string>
			<key>name</key>
			<string>搞笑大蛮</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 09:29:08</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/12/58c4fad33e27a_mini.jpg</string>
			<key>repost</key>
			<string>30</string>
			<key>screen_name</key>
			<string>搞笑大蛮</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497058148</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>真是个勤劳的妹子，大清早就出来买菜！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19725232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.net/share/25301297.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>232</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>7</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>61</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/07/59373f0a9783a_1.jpg</string>
			<key>comment</key>
			<string>469</string>
			<key>create_time</key>
			<string>2017-06-07 07:47:22</string>
			<key>created_at</key>
			<string>2017-06-10 09:20:02</string>
			<key>ding</key>
			<string>517</string>
			<key>favourite</key>
			<string>7</string>
			<key>hate</key>
			<string>61</string>
			<key>height</key>
			<string>810</string>
			<key>id</key>
			<string>25276311</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/07/59373f0a9783a_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/07/59373f0a9783a_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/07/59373f0a9783a_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>517</string>
			<key>name</key>
			<string>小公主梦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 09:20:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/02/57c938cd5fcac_mini.jpg</string>
			<key>repost</key>
			<string>5</string>
			<key>screen_name</key>
			<string>小公主梦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497057602</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>来一波你们那里的早点吧，看看哪个家乡的早点人气最高…</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>6281065</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/25276311.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1080</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>80</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>102</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/593961678187f_1.jpg</string>
			<key>comment</key>
			<string>517</string>
			<key>create_time</key>
			<string>2017-06-08 22:38:31</string>
			<key>created_at</key>
			<string>2017-06-10 08:54:01</string>
			<key>ding</key>
			<string>614</string>
			<key>favourite</key>
			<string>80</string>
			<key>hate</key>
			<string>102</string>
			<key>height</key>
			<string>874</string>
			<key>id</key>
			<string>25300542</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/593961678187f_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/593961678187f_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/593961678187f_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>614</string>
			<key>name</key>
			<string>ωǒ鳪銗誨</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 08:54:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/07/09/578101ff70b7d_mini.jpg</string>
			<key>repost</key>
			<string>33</string>
			<key>screen_name</key>
			<string>ωǒ鳪銗誨</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497056041</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>好大的伴娘团，强大阵容，除了新娘你会选哪个~说说你选她的理由~</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17436292</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/25300542.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1079</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>16</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>126</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ab1b643321.gif</string>
			<key>comment</key>
			<string>462</string>
			<key>create_time</key>
			<string>2017-06-09 22:33:26</string>
			<key>created_at</key>
			<string>2017-06-10 08:28:01</string>
			<key>ding</key>
			<string>937</string>
			<key>favourite</key>
			<string>16</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ab1b643321_a_1.jpg</string>
			<key>hate</key>
			<string>126</string>
			<key>height</key>
			<string>138</string>
			<key>id</key>
			<string>25313775</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ab1b643321.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ab1b643321.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593ab1b643321.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>937</string>
			<key>name</key>
			<string>搞笑大蛮</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 08:28:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/12/58c4fad33e27a_mini.jpg</string>
			<key>repost</key>
			<string>10</string>
			<key>screen_name</key>
			<string>搞笑大蛮</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497054481</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>小姑娘过马路低头玩手机，遭过路司机呵斥，并怒摔其手机，对此你怎么看？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19725232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/25313775.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>230</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>9</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>107</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5c182b977_1.jpg</string>
			<key>comment</key>
			<string>566</string>
			<key>create_time</key>
			<string>2017-06-09 16:28:08</string>
			<key>created_at</key>
			<string>2017-06-10 08:02:02</string>
			<key>ding</key>
			<string>646</string>
			<key>favourite</key>
			<string>9</string>
			<key>hate</key>
			<string>107</string>
			<key>height</key>
			<string>6033</string>
			<key>id</key>
			<string>25309426</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5c182b977_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5c182b977_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a5c182b977_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>646</string>
			<key>name</key>
			<string>迷雾小囧</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 08:02:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/23/58d3c8d8d5d50_mini.jpg</string>
			<key>repost</key>
			<string>31</string>
			<key>screen_name</key>
			<string>迷雾小囧</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497052922</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>高考迟到一分钟不能入场考生状告拼车司机，要求索赔，滴滴：司机未绕路，考生记错时间</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>20324937</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com/share/25309426.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>550</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>10</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>60</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a8d9a1f16d.gif</string>
			<key>comment</key>
			<string>300</string>
			<key>create_time</key>
			<string>2017-06-09 19:59:22</string>
			<key>created_at</key>
			<string>2017-06-10 07:36:01</string>
			<key>ding</key>
			<string>644</string>
			<key>favourite</key>
			<string>10</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a8d9a1f16d_a_1.jpg</string>
			<key>hate</key>
			<string>60</string>
			<key>height</key>
			<string>425</string>
			<key>id</key>
			<string>25311671</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a8d9a1f16d.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a8d9a1f16d.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/09/593a8d9a1f16d.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>644</string>
			<key>name</key>
			<string>蛮夷阿涂</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 07:36:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/10/58c2180891031_mini.jpg</string>
			<key>repost</key>
			<string>30</string>
			<key>screen_name</key>
			<string>蛮夷阿涂</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497051361</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>靠天吃饭的农民，看着莫名的有点心酸...</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19837434</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.com.cn/share/25311671.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>361</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>32</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>71</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5935e652988c9_1.jpg</string>
			<key>comment</key>
			<string>415</string>
			<key>create_time</key>
			<string>2017-06-06 07:16:34</string>
			<key>created_at</key>
			<string>2017-06-10 07:10:01</string>
			<key>ding</key>
			<string>795</string>
			<key>favourite</key>
			<string>32</string>
			<key>hate</key>
			<string>71</string>
			<key>height</key>
			<string>8177</string>
			<key>id</key>
			<string>25261672</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5935e652988c9_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5935e652988c9_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/06/5935e652988c9_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>795</string>
			<key>name</key>
			<string>天黑了请回家</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 07:10:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/05/08/591019d0d3ff1_mini.jpg</string>
			<key>repost</key>
			<string>20</string>
			<key>screen_name</key>
			<string>天黑了请回家</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497049801</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>我喂我的奶，关你什么事？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>在街上看到美女我会多看两眼，这是常性，看到有人喂奶，我会别过头，因为我是人</string>
					<key>ctime</key>
					<string>2017-06-06 09:44:11</string>
					<key>data_id</key>
					<string>25261672</string>
					<key>id</key>
					<string>81834384</string>
					<key>like_count</key>
					<string>861</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>18462806</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/6A66642992D31C5EF3D178C2444ED2A8</string>
						<key>profile_image</key>
						<string>http://wimg.spriteapp.cn/profile/large/2017/04/05/58e3c4e9d3787_mini.jpg</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>6A66642992D31C5EF3D178C2444ED2A8</string>
						<key>sex</key>
						<string>f</string>
						<key>total_cmt_like_count</key>
						<string>3476</string>
						<key>username</key>
						<string>萝莉味</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19754414</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.net/share/25261672.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>864</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>15</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>105</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b77fa06a1_1.jpg</string>
			<key>comment</key>
			<string>229</string>
			<key>create_time</key>
			<string>2017-06-08 10:33:35</string>
			<key>created_at</key>
			<string>2017-06-10 06:44:02</string>
			<key>ding</key>
			<string>489</string>
			<key>favourite</key>
			<string>15</string>
			<key>hate</key>
			<string>105</string>
			<key>height</key>
			<string>16140</string>
			<key>id</key>
			<string>25291497</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b77fa06a1_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b77fa06a1_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/5938b77fa06a1_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>489</string>
			<key>name</key>
			<string>雁回西楼</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 06:44:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/02/5930c53896e3b_mini.jpg</string>
			<key>repost</key>
			<string>16</string>
			<key>screen_name</key>
			<string>雁回西楼</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497048242</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>"广场舞抢地盘"大妈遭留学女儿痛斥:你们干的啥事？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17246660</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.net/share/25291497.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>600</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>22</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>116</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59386c7b91bed_1.jpg</string>
			<key>comment</key>
			<string>170</string>
			<key>create_time</key>
			<string>2017-06-08 05:13:31</string>
			<key>created_at</key>
			<string>2017-06-10 05:52:02</string>
			<key>ding</key>
			<string>524</string>
			<key>favourite</key>
			<string>22</string>
			<key>hate</key>
			<string>116</string>
			<key>height</key>
			<string>8634</string>
			<key>id</key>
			<string>25289410</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59386c7b91bed_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59386c7b91bed_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59386c7b91bed_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>524</string>
			<key>name</key>
			<string>小公主梦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 05:52:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/02/57c938cd5fcac_mini.jpg</string>
			<key>repost</key>
			<string>21</string>
			<key>screen_name</key>
			<string>小公主梦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497045122</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>大写的心疼！喝醉酒后被朋友恶搞拍照，这就是我为什么劝妹子不要喝酒的原因！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>6281065</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com.cn/share/25289410.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>34</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>343</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393f523fc42_1.jpg</string>
			<key>comment</key>
			<string>1273</string>
			<key>create_time</key>
			<string>2017-06-08 20:13:06</string>
			<key>created_at</key>
			<string>2017-06-10 04:56:02</string>
			<key>ding</key>
			<string>500</string>
			<key>favourite</key>
			<string>34</string>
			<key>hate</key>
			<string>343</string>
			<key>height</key>
			<string>440</string>
			<key>id</key>
			<string>25298232</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393f523fc42_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393f523fc42_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/06/08/59393f523fc42_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>500</string>
			<key>name</key>
			<string>搞笑小村</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-06-10 04:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/12/26/586059118dd30_mini.jpg</string>
			<key>repost</key>
			<string>90</string>
			<key>screen_name</key>
			<string>搞笑小村</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1497041762</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>按你的出生的年月日末位数，来起个帅气的复姓名字吧！看谁的更有意思~~</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18619888</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/25298232.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>440</string>
		</dict>
	</array>
</dict>
</plist>
